/*Top Navigation Bar*/
header {
	background: #ffffff;
	overflow: auto;
	position: absolute;
	height: 75px;
	border: #cccccc;
	top: 0;
	width: 100%;
	z-index: 900;
	margin: 0;
	clear: both;
	border-bottom: 1px solid #777777;
}
		/*My Name*/
header h1 {
	position: absolute;
	color: white;
	font-size: 30px;
	background: #4aaaa5;
	width: 150px;
	height: 50%;
	text-align: center;
	padding: 20px;
	bottom: 0;
	left: 20%;
	clear: both;
	display: block;
}
		/*Links on the right*/
.topnav {
	display: block;
	float: left;
	clear: both;
	background: #ffffff;
	color: #777777;
	text-align: center;
	position: absolute;
	right: 15%;
	top: 25px;
}
.topnav a {
	text-decoration: none;
	padding: 0px 20px;
	clear: both;
}
.topnav-line {
	display: inline;
	position: absolute;
	top: 2px;
	height: 20px;
	width: 1px;
	background-color: #777777;
	margin: 0px 5px;
}
/*End of Top Navigation Bar*/

body {
	background-color: #dddddd;
	margin-top: 75px;
	padding: 0px;
	background-image: url('../images/rockywall.png');
}
.content {
	position: relative;
	margin: 30px;
	left: 5%;
	background: #ffffff;
	width: 650px;
	height: contain;
	float: left;
	padding: 20px;
	border: 1px solid #777777;
	overflow: hidden;
}
.content img {
	float: left;
	padding: 0px 10px 10px 0px;
}

/*Testing portfolio descriptions*/
#portfolio {
	position: relative;
}
#city h4 {
	position: fixed;
	top: 0;
}
/*End Test*/
#portfolio img {
	height: 100px;
	width: 200px;
	display: inline;
}
#portfolio h4 {
	background: #4aaaa5;
	color: white;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.media {
	position: relative;
	padding: 20px;
	margin: 30px;
	right: 10%;
	background-color: #ffffff;
	width: 270px;
	height: 10%;
	display: block;
	float: right;
	margin-bottom: 100px;
	border: 1px solid #777777;
}
.media img {
	width: 50px;
}
.header-underline {
	height: 1px;
	background-color: #bcb9bf;
	width: 100%;
	margin: 10px 0px;
}
input {
	width: 650px;
	border-color: #bcb9bf;
}
textarea {
	height: 200px;
	width: 650px;
}
button {
	display: block;
	background: #4aaaa5;
	color: white;
	margin-top: 10px;
}

h2, h3 {
	color: #4aaaa5;
}
/*Fonts*/
h1, h2, h3, h4 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}
p, a {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	color: #777777;
	background: #666666;
	border: 1px 0px 1px 0px solid #4aaaa5;
}
.footer-line {
	width: 100%;
	height: 5px;
	background-color: #4aaaa5;
	position: fixed;
	bottom: 64px;
	margin: 0 auto;
}